<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p class="mb-0 phone pl-md-2">
          <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +84 911 130 712</a>
          <a href="#"><span class="fa fa-paper-plane mr-1"></span> vuivatva179@gmail.com</a>
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end">
        <div class="social-media mr-4">
          <p class="mb-0 d-flex">
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i
                  class="sr-only">Facebook</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i
                  class="sr-only">Twitter</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i
                  class="sr-only">Instagram</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i
                  class="sr-only">Dribbble</i></span></a>
          </p>
        </div>
        <div class="reg">
          <p class="mb-0"><a href="register" class="mr-2"  >Đăng kí</a> <a href="login" class="mr-2"  >Đăng nhập      </a><a (click)="logout()" style="cursor: pointer;">
           Đăng xuất
           <i class="ace-icon fa fa-power-off"></i>
          </a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">Liquor<span>store</span></a>
    <div class="order-lg-last btn-group" >
      <a href="#" class="btn-cart dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" >
        <div class="dropdown-item d-flex align-items-start" href="#" *ngFor="let item of items" >
          <div class="img" style="background-image: url(../assets/upload/{{item.picture}});"></div>
          <div class="text pl-3">
            <h4 value="#">{{item.wine_name}}</h4>
            <p class="mb-0"><a href="#" class="price"> </a><span class="quantity ml-3">Số lượng:{{item.quantity}} 
              </span></p>
          </div>
        </div>
        <a class="dropdown-item text-center btn-link d-block w-100" routerLink="cart">
          Xem
          <span class="ion-ios-arrow-round-forward"></span>
        </a>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a routerLink="home" class="nav-link">Trang chủ</a></li>
        <li class="nav-item"><a routerLink="about" class="nav-link">Thông tin</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="product" id="dropdown04" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" routerLink="product">Sản phẩm</a>
            <a class="dropdown-item" routerLink="cart">Giỏ hàng</a>
            <a class="dropdown-item" routerLink="checkout">Thanh toán</a>
          </div>
        </li>
        <li class="nav-item"><a routerLink="contact" class="nav-link">Liên hệ</a></li>
      </ul>
    </div>
  </div>
</nav>