<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="#">Trang chủ</a>
    </li>
    <li class="active">Quản lý sản phẩm</li>
  </ul>
  <div class="nav-search">
    <p class="pull-right no-margin">
      <a (click)="createModal()" class="btn btn-success btn-xs">
        <i class="fa fa-plus"></i>&nbsp;Thêm
      </a>
    </p>
  </div>
</div>
<div class="row">

  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
      <form class="form-horizontal" role="form" [formGroup]="formsearch" (ngSubmit)="search()">
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"> Tên rượu </label>
          <div class="col-sm-11">
            <input formControlName="wine_name" type="text" placeholder="Tên rượu" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"> Nồng độ cồn</label>
          <div class="col-sm-11">
            <input formControlName="alcohol_concentration" type="text" placeholder="Nồng độ cồn" style="width: 100%;" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"></label>
          <div class="col-sm-11">
            <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
          </div>
        </div>
      </form>
    </p-panel>
    <p-table selectionMode="single" [value]="product_singles" styleClass="p-datatable-gridlines"
      [style]="{'margin-top': '2px'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 70px; text-align: center;">STT</th>
          <th style="width: 20%; text-align: left;">Tên rượu</th>
          <th style="width: 10%; text-align: left;">Nồng độ cồn</th>
          <th style="width: 10%; text-align: left;">Dung tích</th>
          <th style="width: 10%; text-align: left;">Số lượng</th>
          <th style="width: 15%; text-align: left;">Giá</th>
          <th style="width: 15%; text-align: left;">Hình ảnh</th>
          <th style="width: 120px; text-align: left;">Chức năng</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
          <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
          <td>{{ item.wine_name }}</td>
          <td style=" text-align: right;">{{ item.alcohol_concentration }}</td>
          <td style=" text-align: right;">{{ item.capacity }}</td>
          <td style=" text-align: right;">{{item.amount}}</td>
          <td style=" text-align: right;">{{ item.price|number }}</td>
          <td><img src="../assets/upload/{{item.picture}}" alt="" style="width: 200px;height: 200px;"></td>
          <td class="action-col">
            <div class="btn-group">
              <button title="" class="btn btn-xs btn-white btn-default" (click)="openUpdateModal(item)">
                <i class="ace-icon fa fa-edit"></i>
              </button>
              <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(item)">
                <i class="ace-icon fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- PAGE CONTENT ENDS -->
  </div>
  <div class="col-xs-12" style="text-align: right;">
    <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true"
      (pageChange)="loadPage($event)"></ngb-pagination>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
<p-dialog [(visible)]="displayAdd" [style]="{width: '30vw'}" [dismissableMask]="true" [modal]="true">

  <form (ngSubmit)="AddNewProduct(form)" #form="ngForm">

    <ng-template pTemplate="header">
      <h3>Thêm sản phẩm mới </h3>
    </ng-template>
    <div style="width: 90%; margin-left: 5%;">
      <label style="font-weight: bold;">Tên sản phẩm:</label>
      <input type="text" class="form-control" name="wine_name" ngModel #wine_name="ngModel" placeholder="Tên sản phẩm">
      <label style="font-weight: bold;" for="type">Loại sản phẩm:</label>
      <select class="form-control" id="type" name="product_id" [(ngModel)]="selectedCategory">
        <option *ngFor="let item of type " [value]="item.id">{{item.manufacturer}}</option>
      </select>
      <label style="font-weight: bold;">Dung tích:</label>
      <input type="text" class="form-control" placeholder="Dung tích" name="capacity" ngModel #capacity="ngModel">
      <label style="font-weight: bold;">Số lượng:</label>
      <input type="text" class="form-control" placeholder="Số lượng" name="amount" ngModel #amount="ngModel">
      <label style="font-weight: bold;">Giá bán:</label>
      <input type="text" class="form-control" placeholder="Giá bán" name="price" ngModel #price="ngModel">
      <label style="font-weight: bold;">Nồng độ cồn:</label>
      <input type="text" class="form-control" placeholder="Nồng độ cồn" name="alcohol_concentration" ngModel
        #alcohol_concentration="ngModel">
      <label style="font-weight: bold;">Hình ảnh:</label>
      <input type="file" class="form-control" (change)="onChange($event)" name="picture"  ngModel #picture="ngModel" >
      <!-- <img [src]="image" style="max-height:200px;"> -->
    </div>
    <p-footer>
      <button type="submit" class="btn btn-primary waves-effect waves-light mr-2">
        <i class="mdi mdi-check"></i>
        Thêm
      </button>
      <button type="button" (click)="displayAdd=false" class="btn btn-danger waves-effect waves-light"> <i
          class="mdi mdi-window-close"></i>
        Huỷ
      </button>
    </p-footer>
  </form>
</p-dialog>

<p-dialog [(visible)]="isEdit" [style]="{width: '30vw'}" [dismissableMask]="true" [modal]="true">

  <form (ngSubmit)="SaveData()" #form="ngForm">

    <ng-template pTemplate="header">
      <h3>Sửa sản phẩm </h3>
    </ng-template>
    <div style="width: 90%; margin-left: 5%;">
      <label style="font-weight: bold;">Tên sản phẩm:</label>
      <input type="text" class="form-control" [(ngModel)]="product_single.wine_name" name="wine_name" ngModel #wine_name="ngModel" placeholder="Tên sản phẩm">
      <label style="font-weight: bold;" for="type">Loại sản phẩm:</label>
      <select class="form-control" id="type" name="product_id" [(ngModel)]="selectedCategory" [(ngModel)]="product_single.product_id">
        <option *ngFor="let item of type " [value]="item.id" >{{item.manufacturer}}</option>
      </select>
      <label style="font-weight: bold;">Dung tích:</label>
      <input type="text" class="form-control" placeholder="Dung tích" name="capacity" ngModel #capacity="ngModel"  [(ngModel)]="product_single.capacity">
      <label style="font-weight: bold;">Số lượng:</label>
      <input type="text" class="form-control" placeholder="Số lượng" name="amount" ngModel #amount="ngModel" [(ngModel)]="product_single.amount">
      <label style="font-weight: bold;">Giá bán:</label>
      <input type="text" class="form-control" placeholder="Giá bán" name="price" ngModel #price="ngModel" [(ngModel)]="product_single.price">
      <label style="font-weight: bold;">Nồng độ cồn:</label>
      <input type="text" class="form-control" placeholder="Nồng độ cồn" name="alcohol_concentration" ngModel
        #alcohol_concentration="ngModel" [(ngModel)]="product_single.alcohol_concentration">
      <label style="font-weight: bold;">Hình ảnh:</label>
      <input type="file" class="form-control">
    </div>
    <p-footer>
      <button type="submit" class="btn btn-primary waves-effect waves-light mr-2">
        <i class="mdi mdi-check"></i>
        Lưu
      </button>
      <button type="button" (click)="isEdit=false" class="btn btn-danger waves-effect waves-light"> <i
          class="mdi mdi-window-close"></i>
        Huỷ
      </button>
    </p-footer>
  </form>
</p-dialog>