<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_2.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-0"><span class="mr-2"><a href="home">Trang chủ <i
                class="fa fa-chevron-right"></i></a></span> <span><a href="cart">Giỏ hàng <i
                class="fa fa-chevron-right"></i></a></span> <span>Thanh toán <i class="fa fa-chevron-right"></i></span>
        </p>
        <h2 class="mb-0 bread">Thanh toán</h2>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section" action="">
  <div class="container">
    <div class="row justify-content-center" style="width: 1500px; ">
      <div class="col-xl-15 ftco-animate">
        <form [formGroup]="frmCheckout" (ngSubmit)="onSubmit(frmCheckout.value)" class="billing-form">
          <h3 class="mb-4 billing-heading">Thông tin thanh toán</h3>
          <div class=" align-items-end" style="width: 500px; float: left;">
            <div class="form-group">
              <div class="col-md-12">
                <input type="hidden" name="txtid" class="form-control" value="#" />
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group ">
                <label for="firstname">Họ </label>
                <input type="text" formControlName="txtHo" class="form-control" placeholder="Họ ">
                <div class="col alert alert-danger" role="alert"
                  *ngIf="frmCheckout.controls.txtHo.errors && frmCheckout.controls.txtHo?.touched">
                  <div *ngIf="frmCheckout.controls.txtHo?.errors?.required">Không được phép rỗng</div>
                  <div *ngIf="frmCheckout.controls.txtHo?.errors?.minlength">Độ dài phải 2 - 50 ký tự</div>
                  <div *ngIf="frmCheckout.controls.txtHo?.errors?.maxlength">Độ dài phải 2 - 50 ký tự</div>
                  <div *ngIf="frmCheckout.controls.txtHo?.errors?.pattern">Họ không chứa ký tự đặc biệt</div>
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group ">
                <label for="firstname">Tên</label>
                <input type="text" formControlName="txtTen" class="form-control" placeholder="Tên">
                <div class="col alert alert-danger" role="alert"
                  *ngIf="frmCheckout.controls.txtTen.errors && frmCheckout.controls.txtTen?.touched">
                  <div *ngIf="frmCheckout.controls.txtTen?.errors?.required">Không được phép rỗng</div>
                  <div *ngIf="frmCheckout.controls.txtTen?.errors?.minlength">Độ dài phải 2 - 50 ký tự</div>
                  <div *ngIf="frmCheckout.controls.txtTen?.errors?.maxlength">Độ dài phải 2 - 50 ký tự</div>
                  <div *ngIf="frmCheckout.controls.txtTen?.errors?.pattern">Tên không chứa ký tự đặc biệt</div>
                </div>
              </div>
            </div>
            <!-- <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="streetaddress">Ngày sinh</label>
                <input type="date" name="txtDate" class="form-control" placeholder="Ngày sinh">
              </div>
            </div> -->
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="streetaddress">Địa chỉ</label>
                <input type="text" formControlName="txtDiaChi" class="form-control" placeholder="Số nhà và tên đường">
                <div class="col alert alert-danger" role="alert"
                  *ngIf="frmCheckout.controls.txtDiaChi.errors && frmCheckout.controls.txtDiaChi?.touched">
                  <div *ngIf="frmCheckout.controls.txtDiaChi?.errors?.required">Không được phép rỗng</div>
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="towncity">Số điện thoại</label>
                <input type="text" formControlName="txtSDT" class="form-control" placeholder="Số điện thoại">
                <div class="col alert alert-danger" role="alert"
                  *ngIf="frmCheckout.controls.txtSDT.errors && frmCheckout.controls.txtSDT?.touched">
                  <div *ngIf="frmCheckout.controls.txtSDT?.errors?.required">Không được phép rỗng</div>
                  <div *ngIf="frmCheckout.controls.txtSDT?.errors?.pattern">Không phải định dạng số điện thoại</div>
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="postcodezip">Email</label>
                <input type="email" formControlName="txtEmail" class="form-control" placeholder="Email">
                <div class="col alert alert-danger" role="alert"
                  *ngIf="frmCheckout.controls.txtEmail.errors && frmCheckout.controls.txtEmail?.touched">
                  <div *ngIf="frmCheckout.controls.txtEmail?.errors?.txtEmail">Không phải định dạng email</div>
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="postcodezip">Ghi chú</label>
                <input type="text" name="txtNote" class="form-control" placeholder="Ghi chú" rows="3">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group mt-4">
              </div>
            </div>
          </div>

          <div class="row mt-5 pt-3 d-flex">
            <div class="col-md-6 d-flex">
              <div class="cart-detail cart-total p-3 p-md-4">
                <h3 class="billing-heading mb-4">Tổng số trong giỏ hàng</h3>
                <thead >
                  <tr>
                      <th>Sản phẩm</th>
                      <th style="padding-left: 80px;">Giá</th>
                  </tr>
              </thead>
              <tbody >
                  <tr *ngFor="let item of items" >
                      <td > {{item.wine_name}} <strong> × {{item.quantity}}</strong></td>
                      <td style="padding-left: 80px;"> {{item.price | currency: "VND"}}</td>
                  </tr>
              </tbody>
              <div class="w-100"></div>
              <hr>
                <p class="d-flex">
                  <span>Thành tiền</span>
                  <span style="text-align: right" style="text-align: right; color:rgb(255, 174, 0)">{{total| currency: "VND"}} VND</span>
                </p>
                <p class="d-flex">
                  <span>Phí giao hàng</span>
                  <span style="text-align: right">0.00 VND</span>
                </p>
                <p class="d-flex">
                  <span>Thuế</span>
                  <span style="text-align: right">0.00 VND</span>
                </p>
                <hr>
                <p class="d-flex total-price">
                  <span>Tổng cộng</span>
                  <span style="text-align: right; color:red">{{total| currency: "VND"}} VND</span>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cart-detail p-3 p-md-4">
                <h3 class="billing-heading mb-4">Phương thức thanh toán</h3>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" class="mr-2"> Chuyển khoản trực tiếp</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" class="mr-2"> Thanh toán khi nhận hàng</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="checkbox">
                      <label><input type="checkbox" value="" class="mr-2"> Tôi đã đọc và chấp nhận các điều khoản và
                        điều kiện</label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="form-control btn btn-success" value=""> Đặt hàng</button>
              </div>
            </div>
          </div>
        </form><!-- END -->

      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section>