<footer class="ftco-footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 logo"><a href="#">Liquor <span>Store</span></a></h2>
            <p>Hãy tới một nơi xa, khuất sau những dãy núi, rời xa khỏi chốn đô thị và tận hưởng sự diệu kì từ đồ uống của chúng tôi .</p>
            <ul class="ftco-footer-social list-unstyled mt-2">
              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Tài khoản</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Tài khoản</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Đăng kí</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Đăng nhập</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Đơn hàng</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Thông tin</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Về chúng tôi</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Thư viện</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Liên hệ với chúng tôi</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Kì hạn &amp; Điều kiện</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Liên kết nhanh</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Người dùng mới</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Trung tâm hỗ trợ</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Báo cáo</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Các câu hỏi thường gặp</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Bạn có thắc mắc ?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon fa fa-map marker"></span><span class="text">Đại học Sư phạm kĩ thuật Hưng Yên, TX.Mĩ Hào, T.Hưng Yên</span></li>
                  <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+84 911 130 712</span></a></li>
                  <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">vuivatva179@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid px-0 py-5 bg-black">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
            </div>
          </div>
        </div>
    </div>
  </footer>
